<p>Hello Support,</p>
<p>A concern has been raised with the following details:</p>
<p>UserId: {{userId}}</p>
<p>Name: {{name}}</p>
<p>Category: {{category}}</p>
<p>Description: {{description}}</p>
<p>Path: {{path}}</p>